<div class="row">
  <div class="col-md-12">
    <div [ngClass]="{alert : true, 'alert-danger' : true}">
      Attribute directives—change the appearance or behavior of an element, component, or another directive.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div [ngStyle]="maSt">
      Attribute directives—change the appearance or behavior of an element, component, or another directive.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" [appSizer]="50">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" [appSizer]="150">
  </div>
</div>
