<div class="row">
  <div class="col-md-12">
    <p>
      <ngb-progressbar type="success" [value]="prg"></ngb-progressbar>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="button" (click)="clickMe()" value="Plus" class="btn btn-primary">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pos-f-t">
      <div class="collapse" [ngClass]="{show : isSh}" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button (click)="isSh = !isSh" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </div>
</div>