<form class="card" novalidate [formGroup]="frmGrp" (ngSubmit)="onSub()">
  <div>
    <h5 class="text-muted">Data Driven Forms</h5>
  </div>
  <div>
    <input type="text" placeholder="User Name" formControlName="usNm">
    <p *ngIf="frmGrp.controls.usNm.errors?.required"> Enter User Name </p>
    <p *ngIf="frmGrp.controls.usNm.errors?.isStartWithA"> User Name Should Start form A or a </p>
  </div>
  <div>
    <input type="text" placeholder="Email" formControlName="eml">
    <p *ngIf="frmGrp.controls.eml.errors?.required"> Enter Email</p>
    <p *ngIf="frmGrp.controls.eml.errors?.email"> Enter Valid Email</p>
    <p *ngIf="frmGrp.controls.eml.errors?.taken"> Email Address is already taken</p>
  </div>
  <div>
    <input type="text" placeholder="Password" formControlName="pass">
    <p *ngIf="frmGrp.controls.pass.errors?.required"> Enter Password</p>
  </div>
  <div>
    <input type="text" placeholder="Confirm Password">
    <p> Confirm Password</p>
  </div>
  <div>
    <input [disabled]="!frmGrp.valid" type="submit" value="Okay" class="btn btn-info">
  </div>
</form>