<form class="card" novalidate [formGroup]="frmGrp" (ngSubmit)="onSub()">
  <div>
    <h5 class="text-muted">Data Driven Forms</h5>
  </div>
  <div>
    <input type="text" placeholder="User Name" formControlName="usNm">
    <p> Enter User Name</p>
  </div>
  <div>
    <input type="text" placeholder="Email" formControlName="eml">
    <p> Enter Email</p>
    <p> Enter Valid Email</p>
  </div>
  <div>
    <input type="text" placeholder="Password" formControlName="pass">
    <p> Enter Password</p>
  </div>
  <div>
    <input type="text" placeholder="Confirm Password">
    <p> Confirm Password</p>
  </div>
  <div>
    <input type="submit" value="Okay" class="btn btn-info">
  </div>
</form>