<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-muted">Pipes</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p> Name is {{name | uppercase}} </p>
      <p> Exp is {{exp | number:"3.3-4"}} </p>
      <p> Current Date is {{date|date:"dd MMM yyyy"}} </p>
      <p> Chaining {{name | slice :0:2 | uppercase}}</p>
      <p> Json Pipe {{obj | json}}</p>
      <p> Name {{name | hypen:4}}</p>
    </div>
  </div>
  <div class="row">
    <input type="text" #cmp placeholder="Company Name">
    <input type="text" #cst placeholder="Cost">
    <input type="text" #os placeholder="OS">
    <input type="button" value="Add" class="btn btn-info" (click)="newMobile(cmp.value,cst.value,os.value)">
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="text" [(ngModel)]="cmNm">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ol>
        <li *ngFor="let mobile of (mobiles | filter:cmNm)">{{mobile?.company}}</li>
      </ol>
    </div>
  </div>
</div>