<div class="row">
  <div class="col-md-12">
    <p class="text-muted">Interpolation {{myNm}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="{{typ}}">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input [type]="typ">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p [style.border]="'1px solid red'">This is codekul </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p [class.alert]="true" [class.alert-info]="true">This is codekul </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p [attr.myNm]="myNm">This is codekul </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input (click)="myClk($event)" type="button" value="Okay" class="btn btn-primary">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input (keyup)="myClk($event)" type="text" placeholder="Ghost"/>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" [(ngModel)]="tw"> {{tw}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" [value]="val">
    <input type="button" value="1" (click)="setVal(1)">
    <input type="button" value="2" (click)="setVal(2)">
    <input type="button" value="3" (click)="setVal(3)">
    <input type="button" value="4" (click)="setVal(4)">
  </div>
</div>
<app-extension></app-extension>