<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input type="button" class="btn btn-primary" value="Get" (click)="getOne()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <app-user-card [data]="data"></app-user-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="button" value="Get Many" class="btn btn-info" (click)="manyUsers()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let data of users">
        <app-user-card [data]="data"></app-user-card>
    </div>
  </div>
</div>
